<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>АрхМаршрут</title>

    <link rel="stylesheet" href="./static/styles/index.css">
    <link rel="stylesheet" href="./static/styles/header.css">
    <link rel="stylesheet" href="./static/styles/commodiesList.css">
    <link rel="stylesheet" href="./static/styles/commodity.css">
    <link rel="stylesheet" href="./static/styles/cart.css">
    <link rel="stylesheet" href="./static/styles/btns.css">
    <link rel="stylesheet" href="./static/styles/subHeader.css">
    <link rel="stylesheet" href="./static/styles/btns.css">

    <link rel="stylesheet" href="./static/styles/analysis.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="headerContent">
            <div class="logo">
                <img src="./static/img/logo.svg" alt="logo">
                <div class="name">
                    <a href="/"><h1>АрхМаршрут</h1></a>
                </div>
            </div>

            <div class="nav">
                <div class="commoditys">
                    <h2>Товары</h2>
                </div>
                <div class="slash">
                    <h2>/</h2>
                </div> 
                <div class="requests">
                    <h2>Заявки</h2>
                </div>
                
            </div>
        </div>
    </header>
    <div class="subHeader">
        <div class="subHeaderContent">
            <div class="pageDescription">
                <h1>Ваша заявка на анализ</h1>
            </div>
            <div class="search">
                <form action="/">
                    <div class="searchbar">
                        <!-- <input type="text" name="query" placeholder="Искать по названию товара" value="{{ .query }}"> -->
                        <input type="text" list="regions" id="regionsList" placeholder="Выберете регион">
                        <button class=" btn yellow" type="submit">Сохранить</button>
    
                        <datalist id="regions">
                            <option value="Аттика">Аттика</option>
                            <option value="Коринф">Коринф</option>
                            <option value="Финикия">Финикия</option>
                            <option value="Италия">Италия</option>
                            <option value="Скифия">Скифия</option>
                            <option value="Центральная Европа">Центральная Европа</option>
                            <option value="Понт">Понт</option>
                            <option value="Испания">Испания</option>
                            <option value="Причерноморье">Причерноморье</option>
                            <option value="Скандинавия">Скандинавия</option>
                            <option value="Левант">Левант</option>
                            <option value="Анатолия">Анатолия</option>
                            <option value="Черное море">Черное море</option>
                            <option value="Ближний Восток">Ближний Восток</option>
                            <option value="Египет">Египет</option>
                            <option value="Малая Азия">Малая Азия</option>
                            <option value="Балканы">Балканы</option>
                            <option value="Крит">Крит</option>
                            <option value="Иберийский полуостров">Иберийский полуостров</option>
                            <option value="Месопотамия">Месопотамия</option>
                        </datalist>
                        <input type="submit" hidden />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <main>
        <div class = "commodiesList">
            {{ range .commodities }}
            <div class="commodity">
                <div class="image">
                    <img src="http://127.0.0.1:9000/archpath/{{ .Image }}" alt="img">
                </div>
                <div class="info">
                    <div class="name">
                        <h1> {{ .Name }}</h1>
                    </div>
                    <div class="origin">
                        <div class="location">
                            <h2>{{ .Region }}</h2>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <a href="/commodity/{{ .ID }}">
                        <button class="moreInfo btn yellow">
                            <h2>Подробнее</h2>
                        </button>
                    </a>
                    <button class="delete btn red">
                        <h2>Удалить</h2>
                    </button>
                </div>
            </div>
            {{ end }}
            
        </div>
        
    </main>
    <div class="actions analysisRequest">
            <button class="moreInfo btn yellow">
                <h2>Оформить заявку</h2>
            </button>
   
            <button class="delete btn red">
                <h2>Удалить заявку</h2>
            </button>
    </div>
    
</body>
</html>