<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .commodity.Name }}</title>

    <link rel="stylesheet" href="/static/styles/index.css">
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/commodiesList.css">
    <link rel="stylesheet" href="/static/styles/commodity.css">
    <link rel="stylesheet" href="/static/styles/cart.css">
    <link rel="stylesheet" href="/static/styles/btns.css">
    <link rel="stylesheet" href="/static/styles/subHeader.css">

    <link rel="stylesheet" href="/static/styles/commodityDetail.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="headerContent">
            <div class="logo">
                <img src="/static/img/logo.svg" alt="logo">
                <div class="name">
                    <a href="/"><h1>АрхМаршрут</h1></a>
                </div>
            </div>

            <div class="nav">
                <div class="commoditys">
                    <h2>Товары</h2>
                </div>
                <div class="slash">
                    <h2>/</h2>
                </div> 
                <div class="requests">
                    <h2>Заявки</h2>
                </div>
                
            </div>
        </div>
    </header>
    <main class = "gradient">
    
        <div class="content">
        <div class="path">
            <h2><a href="/"> Товары </a> / {{.commodity.Name}}</h2>
        </div>
        <div class="commedityOverview">
            <div class="image">
                <img src="http://127.0.0.1:9000/archpath/{{.commodity.Image}}" alt="">
            </div>
            <div class="right">
                <div class="name">
                    {{.commodity.Name}}
                </div>
                <div class="period">
                    {{.commodity.Period}}
                </div>
            </div>
        </div>
        </div>
        
    </main>
    <main>
    <div class="content">
        <div class = "commedityInfo">
            <div class="descriotion">
                {{.commodity.Descriotion}}
            </div>
            <div class="commedityOrigin">
                <h1>Регионы  производства:</h1>
                <div class="origin">
                    <div class="location">
                        <h2>{{ .commodity.Region }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    
</body>
</html>