.searchbar {
    display: flex;
    gap: 15px;
    align-items: center;
}

.analysisRequest{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 30px;
}

.analysisRequest .btn{
    width: 200px;
}