.btn{
    width: 148px;
    height: 40px;
    
    border: 0;
    background: none;
    
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
}

.red{
    background-color: #DB1A62;
}

.yellow{
    background-color: #FFFF64;
}