.cart{
    width: 118px;
    position: fixed;
    bottom: 0;
}

.analisedCount{
    background-color: #DB1A62;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    margin-left: 30px;
}