.gradient{
    background: #FFFF64;
    background: linear-gradient(180deg,rgba(255, 255, 100, 1) 37%, rgba(219, 26, 98, 1) 100%);
    height: 600px;

    justify-content: center;
}

.path{
    margin-top: 116px;
    color: #808080;
}

.content{
    width: 80%;
    justify-content: left;
}

.image{
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
    
}

.commedityOverview{
    display: flex;
    margin-top: 24px;
    overflow: visible;
}

.right{
    margin-left: 16px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.name{
    font-size: 32px;
}

.period{
    color: #808080;
}

.commedityInfo .descriotion{
    margin-top: 36px;
    color: #808080;
}

.commedityInfo .commedityOrigin{
    margin-top: 24px;
    display: flex;
    gap: 12px;
    align-items: center;
}