.commodity{
    display: flex;
    height: 120px;
    border-top: 3px solid #000000;
    align-items: center;
}

.commodity .image{
    width: 93px;
    height: 93px;
    background-color: antiquewhite;
}

.commodity .info{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-left: 16px;
}

.commodity .actions{ 
    display: flex;
    gap: 12px;
    margin-left: auto;
}

.location{
    background-color: #FFFF64;
    
    height: 26px;
    border-radius: 20px;
    
    color: #808080;

    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;

    padding-left: 16px;
    padding-right: 16px;

    
}