.headerContent,
.searchContent,
main {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 40px;
}

main {
    padding: 40px 40px 80px;
}

header {
    background-color: white;
    border-bottom: 1px solid var(--border-color);
    padding: 20px 0;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo h1 {
    font-size: 20px;
    font-weight: 600;
}