.subHeader{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    height: 112px;
    
}

.subHeaderContent{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 28px;
    text-align: center;
}

.searchbar{
    width: 100%;
    display: flex;
    height: 52px;
}

.searchbar input[type="text"], #regionsList{
    width: 100%;
    height: 100%;
    background-color: #E9E9E9;
    border: 0;
    border-radius: 20px;
    padding-left: 23px;

    font-size: 16px;

   
}

.searchbar  input::placeholder{
    font-size: 16px;
}